
*{
    margin: 0;
    padding: 0;
}

.container{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header-bg{
    background-color: #82cece;
    width: 100%;
}
h1 {
    color: rgb(6, 37, 37);
    font-family: 'Squada One', cursive;
    font-size: 94px;
    padding-left: 2rem;
   
}  

th{
    font-size: 24px;
}

    
.nav{
    padding: 0;
    width: 100%;
    margin: 2rem;
    display: flex;
}
.nav a{
    
    width: 100%;
    font-size: 28px;
    color: #ffffff;
    text-decoration: none;
}
.table{
    padding-left: 2rem;
}

