<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<header class="header-bg">
    <h1 th:text="${title}">Default Title</h1>
    <nav th:replace="fragments :: navigation"></nav>
</header>



<table class="table">
    <tr>
        <th>Clients</th>
        <th>Last Visit</th>
        <th>Future Visit</th>

    </tr>

    <tr th:each="client : ${clients}">
        <td>
            <a th:href="'/future/client-page/' + ${client.id}" th:text="|${client.firstname}  ${client.lastname}|"></a>
        </td>
        <td th:text="${client.lastvisit}"></td>
        <td th:text="${client.futurevisit}"></td>

    </tr>
</table>
<nav class="add-remove">
<a href="/future/add">Add Clients</a> |
<a href="/future/remove">Remove Clients</a>
</nav>
</body>
</html>